    <%- include('partials/header.ejs') %>

    <div class="container small-container">
        <h2>Add Book</h2>
        <form action="/search" method="post">
            <div class="input-group mb-3">
                <input type="text" name="book_name" class="form-control" placeholder="Search for book...">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
            </div>
        </form>

        <h5>Or enter details here: </h5>
        <form action="/add" method="post">
            <div class="input-group mb-3">
                <span class="add-form-label add-form-label input-group-text" id="basic-addon1">Title</span>
                <input type="text" name="title" class="form-control" placeholder="Title..." required>
            </div>
            <div class="input-group mb-3">
                <span class="add-form-label input-group-text" id="basic-addon1">Author</span>
                <input type="text" name="author" class="form-control" placeholder="Author..." required>
            </div>
            <div class="input-group mb-3">
                <span class="add-form-label input-group-text" id="basic-addon1">ISBN</span>
                <input type="text" name="isbn" class="form-control" placeholder="ISBN..." required>
            </div>
            <div class="read-switch">
                <input type="radio" class="btn-check" name="read-status" id="have-read" value="yes" autocomplete="off" onclick="toggleNotes()">
                <label class="btn" for="have-read">Have Read</label>
                
                <input type="radio" class="btn-check" name="read-status" id="have-not-read" value="no" autocomplete="off" onclick="toggleNotes()" checked>
                <label class="btn" for="have-not-read">Want to Read</label>
            </div>
                
            <div id="add-notes">
                <h5>Add your thoughts: </h4>
                <div class="input-group mb-3">
                    <span class="add-form-label input-group-text" id="basic-addon1">Date</span>
                    <input type="date" name="date" class="form-control" placeholder="Date...">
                </div>
                <div class="input-group mb-3">
                    <label class="add-form-label input-group-text" for="inputGroupSelect01">Rating</label>
                    <select class="form-select" id="inputGroupSelect01" name="rating">
                      <option selected>Choose...</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="3">4</option>
                      <option value="3">5</option>
                    </select>
                  </div>
                <div class="input-group mb-3">
                    <span class="add-form-label input-group-text" id="basic-addon1">Notes</span>
                    <textarea name="notes" class="form-control" placeholder="Notes..."></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Add</button>
        </form>
          
    </div>
    <script>
        function toggleNotes() {
            const haveRead = document.getElementById('have-read').checked;
            const addNotesDiv = document.getElementById('add-notes');
            addNotesDiv.style.display = haveRead ? 'block' : 'none';
        }
    </script>

    <%- include('partials/footer.ejs') %>
