body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    background-color: #444;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px 20px;
}

.header-content {
    width: 1200px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo {
    width: 50px;
}
.logo-box {
    width: 200px;
}
.nav-links {
    width: 200px;
    text-align: end;
}
.nav-links a {
    margin-left: 30px;
}

.header a {
    width: 70px;
    color: white;
    text-decoration: none;
    padding: 5px 0;
    text-align: center;
}

.header .title {
    font-size: 2rem;
    text-align: center;
}

.container {
    width: 1200px;
    margin-top: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 30px;
}

.book-card {
    width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 7px;
}

.book-card-body {
    padding: 10px 20px;
    height: 172px;
}

.book-card-body p {
    margin-top: 12px;
    line-height: 1;
}

.book-card-title {
    height: 30px;
    overflow: hidden;
    white-space: nowrap; 
    /* This is where the card sizing issues occurs on small screens */
    text-overflow: ellipsis;
}

.add-book {
    /* text-align: center; */
}

.cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.add-form-label {
    width: 80px;
}

#add-notes {
    display: none;
}

.read-switch {
    margin-bottom: 18px;
}

@media (max-width: 1200px) {
    .container {
        width: 100%; 
    }

    .book-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}